<!--左側選單列-->
<div class="list-group">
    <a href="dashboard.php" class="list-group-item">首頁</a>
    {% if role == '系統管理員' %}
    <a href="permission.php" class="list-group-item">打卡管理</a>
    <a href="user_management.php" class="list-group-item">使用者管理</a>
    {% endif %}
    <a href="logout.php" class="list-group-item">登出</a>
</div>